{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-2761/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace8816?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "ab5c8ca9-6e01-4457-81ad-c51a7d75f9b5",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2023-05-29T03:14:39.8330000Z",
          "updatedAt": "2023-05-29T03:14:39.8400000Z",
          "serviceBusEndpoint": "https://azNotificationHubNamespace8816.servicebus.windows.net:443/",
          "enabled": true,
          "critical": false
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-2761/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace8816",
        "name": "azNotificationHubNamespace8816",
        "type": "Microsoft.NotificationHubs/namespaces",
        "location": "East US",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-2761/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace8816/notificationHubs/azNotificationHub1875?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "98b7cd34-8503-4366-b466-c54cf02acf26",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "properties": {
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-2761/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace8816/NotificationHubs/azNotificationHub1875",
        "name": "azNotificationHub1875",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs",
        "location": "East US"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-2761/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace8816/notificationHubs/azNotificationHub1875/debugsend?api-version=2017-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 400,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "84bac9af-5c4e-4cfa-a85a-9c44b48969b8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "error": {
          "code": "BadRequest",
          "message": "The notification has no target applications. The notification format is template. Review the credentials specified in the notification hub description and the notification format..TrackingId:e404f2e12d4e2713bec4d0fbdcbdefde,TimeStamp:5/29/2023 3:14:59 AM \u002B00:00"
        }
      }
    }
  ],
  "Variables": {
    "AZURE_AUTHORITY_HOST": "https://login.microsoftonline.com/",
    "RandomSeed": "64940084",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "db1ab6f0-4769-4b27-930e-01e2ef9c123c"
  }
}
