{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "dfad3f3d-0eee-4cd9-a5f3-22d42e40d6aa",
        "x-ms-ratelimit-remaining-subscription-reads": "11989"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard"
        },
        "properties": {
          "provisioningState": "Succeeded",
          "status": "Active",
          "createdAt": "2023-05-26T08:54:11.2430000Z",
          "updatedAt": "2023-05-26T08:54:11.2600000Z",
          "serviceBusEndpoint": "https://azNotificationHubNamespace4560.servicebus.windows.net:443/",
          "enabled": true,
          "critical": false
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560",
        "name": "azNotificationHubNamespace4560",
        "type": "Microsoft.NotificationHubs/namespaces",
        "location": "East US",
        "tags": {}
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560/notificationHubs/azNotificationHub2232?api-version=2017-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "eastus",
        "properties": {}
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "06d2631e-bfbf-4a60-8fa5-3dde659af65a",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "properties": {
          "registrationTtl": "10675199.02:48:05.4775807",
          "dailyMaxActiveDevices": 0
        },
        "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560/NotificationHubs/azNotificationHub2232",
        "name": "azNotificationHub2232",
        "type": "Microsoft.NotificationHubs/namespaces/notificationHubs",
        "location": "East US"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560/notificationHubs?api-version=2017-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2014-09-01, 2016-03-01, 2017-04-01, 2020-01-01-preview, 2023-01-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "TrackingId": "ae04d734-7dff-43f3-92d8-d38abdd6303a",
        "x-ms-ratelimit-remaining-subscription-reads": "11988"
      },
      "ResponseBody": {
        "value": [
          {
            "properties": {
              "registrationTtl": "10675199.02:48:05.4775807",
              "authorizationRules": [],
              "dailyMaxActiveDevices": 0
            },
            "id": "/subscriptions/db1ab6f0-4769-4b27-930e-01e2ef9c123c/resourceGroups/NotificationHubRG-144/providers/Microsoft.NotificationHubs/namespaces/azNotificationHubNamespace4560/NotificationHubs/azNotificationHub2232",
            "name": "azNotificationHub2232",
            "type": "Microsoft.NotificationHubs/namespaces/notificationHubs",
            "location": "East US"
          },
          {
            "properties": {
 [...]
